# Cent Stores Server Configurations
PORT=5000

# MongoDB Database Connection
MONGO_URI=mongodb://localhost:27017/centstores

# JSON Web Token Secret
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=7d

# SMTP NodeMailer Configuration (Emails)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
MAIL_FROM="Cent Stores <noreply@centstores.co.ke>"
ADMIN_ALERT_EMAIL=admin@centstores.co.ke

# Cloudinary Integration (Images upload)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Groq AI Integration (Product Description Generator)
GROQ_API_KEY=your_groq_api_key
